PCB*.save
/bandpass
/commands
/dump
/ftrans
/ise
/mlt3-detect
/phasedetectsim
/pllsim
/readdump
/readdump14
/readdump22
/sinrom
/spectrum
.*.d
/docs/*.pdf
/iseconfig
/sdr.cmd
/sdr.net
/#*#
*-gerber
*.zip
*.png
*.gnumeric
*.tsv
*.dump
