*-gerber
*.dump
*.gnumeric
*.jpg
*.png
*.tsv
*.zip
.*.d
*.dat
*.spect
*.plot
*.bin
/#*#
/bandpass
/docs/*.pdf
ise/
iseconfig/
/phasedetectsim
/pllsim
/sdr.cmd
/sdr.net
/sinrom
PCB*.save
spect/
/util/burstspec
/util/irspec
/util/phasespect
/util/spiflash
/fir
/fir.hi
/cpu/*.bin
/cpu/*.elf
*.*.*[0-9]
