*-gerber
*.dump
*.gnumeric
*.jpg
*.png
*.tsv
*.zip
.*.d
*.dat
*.dat.*
/#*#
/bandpass
/docs/*.pdf
ise/
iseconfig/
/phasedetectsim
/pllsim
/sdr.cmd
/sdr.net
/sinrom
PCB*.save
spect/
/util/spiflash
/util/irspec
/util/phasespect
/fir
/fir.hi
