
CONFIG VCCAUX = "3.3";

NET "clkin125" LOC = "P131" | IOSTANDARD = "LVCMOS33" | TNM_NET = "clkin125";
NET "clkin125_en" LOC = "P132" | IOSTANDARD = "LVCMOS33";
TIMESPEC TS_Clkin125 = PERIOD "clkin125" 8 ns HIGH 50%;

NET "LED<0>" LOC = "P119" | IOSTANDARD = "LVCMOS33" | DRIVE = "6";
NET "LED<1>" LOC = "P118" | IOSTANDARD = "LVCMOS33" | DRIVE = "6";
NET "LED<2>" LOC = "P117" | IOSTANDARD = "LVCMOS33" | DRIVE = "6";
NET "LED<3>" LOC = "P116" | IOSTANDARD = "LVCMOS33" | DRIVE = "6";
NET "LED<4>" LOC = "P115" | IOSTANDARD = "LVCMOS33" | DRIVE = "6";
NET "LED<5>" LOC = "P114" | IOSTANDARD = "LVCMOS33" | DRIVE = "6";
NET "LED<6>" LOC = "P112" | IOSTANDARD = "LVCMOS33" | DRIVE = "6";
NET "LED<7>" LOC = "P111" | IOSTANDARD = "LVCMOS33" | DRIVE = "6";

NET "ADC_P<0>" LOC = "P34" | IOSTANDARD = "LVDS_25";
NET "ADC_N<0>" LOC = "P35" | IOSTANDARD = "LVDS_25";
NET "ADC_P<1>" LOC = "P32" | IOSTANDARD = "LVDS_25";
NET "ADC_N<1>" LOC = "P33" | IOSTANDARD = "LVDS_25";
NET "ADC_P<2>" LOC = "P29" | IOSTANDARD = "LVDS_25";
NET "ADC_N<2>" LOC = "P30" | IOSTANDARD = "LVDS_25";
NET "ADC_P<3>" LOC = "P26" | IOSTANDARD = "LVDS_25";
NET "ADC_N<3>" LOC = "P27" | IOSTANDARD = "LVDS_25";
NET "ADC_P<4>" LOC = "P23" | IOSTANDARD = "LVDS_25";
NET "ADC_N<4>" LOC = "P24" | IOSTANDARD = "LVDS_25";
NET "ADC_P<5>" LOC = "P21" | IOSTANDARD = "LVDS_25";
NET "ADC_N<5>" LOC = "P22" | IOSTANDARD = "LVDS_25";
NET "ADC_P<6>" LOC = "P16" | IOSTANDARD = "LVDS_25";
NET "ADC_N<6>" LOC = "P17" | IOSTANDARD = "LVDS_25";

# Note LVCMOS25 - Pseudo differential signal.
NET "ADC_CLK_P" LOC = "P12" | IOSTANDARD = "LVCMOS25" | DRIVE = "2" | SLEW = "FAST";
NET "ADC_CLK_N" LOC = "P11" | IOSTANDARD = "LVCMOS25" | DRIVE = "2" | SLEW = "FAST";

NET "ADC_RECLK_P" LOC = "P14" | IOSTANDARD = "LVDS_25";
NET "ADC_RECLK_N" LOC = "P15" | IOSTANDARD = "LVDS_25";

#NET "ADC_SEN" LOC = "P7" | IOSTANDARD = "LVCMOS25";
#NET "ADC_SDATA" LOC = "P6" | IOSTANDARD = "LVCMOS25";
#NET "ADC_SCLK" LOC = "P2" | IOSTANDARD = "LVCMOS25";
#NET "ADC_RESET" LOC = "P5" | IOSTANDARD = "LVCMOS25";

#NET "ADC_SDOUT_INV" LOC = "P137" | IOSTANDARD = "LVCMOS33";

#NET "CPU_PD1" LOC = "P40" | IOSTANDARD = "LVCMOS33";
#NET "CPU_PD0" LOC = "P41" | IOSTANDARD = "LVCMOS33";
#NET "CPU_SSITx" LOC = "P43" | IOSTANDARD = "LVCMOS33";
#NET "CPU_SSIRx" LOC = "P44" | IOSTANDARD = "LVCMOS33";
#NET "CPU_SSIFss" LOC = "P45" | IOSTANDARD = "LVCMOS33";
#NET "CPU_SSIClk" LOC = "P46" | IOSTANDARD = "LVCMOS33";

#NET "FLASH_SI" LOC = "P64" | IOSTANDARD = "LVCMOS33";
#NET "FLASH_SO" LOC = "P65" | IOSTANDARD = "LVCMOS33";
#NET "FLASH_SCLK" LOC = "P70" | IOSTANDARD = "LVCMOS33";
#NET "FLASH_CS_INV" LOC = "P38" | IOSTANDARD = "LVCMOS33";

#NET "AUDIO_SCKI" LOC = "P61" | IOSTANDARD = "LVCMOS33";
#NET "AUDIO_LRCK" LOC = "P67" | IOSTANDARD = "LVCMOS33";
#NET "AUDIO_DATA" LOC = "P66" | IOSTANDARD = "LVCMOS33";
#NET "AUDIO_BCK" LOC = "P58" | IOSTANDARD = "LVCMOS33";

#NET "AUDIO_PD_INV" LOC = "P62" | IOSTANDARD = "LVCMOS33";
#NET "AUDIO_DEMP" LOC = "P75" | IOSTANDARD = "LVCMOS33";

NET "USB_D<0>" LOC = "P97" | IOSTANDARD = "LVCMOS33" | DRIVE = "2";
NET "USB_D<1>" LOC = "P98" | IOSTANDARD = "LVCMOS33" | DRIVE = "2";
NET "USB_D<2>" LOC = "P99" | IOSTANDARD = "LVCMOS33" | DRIVE = "2";
NET "USB_D<3>" LOC = "P100" | IOSTANDARD = "LVCMOS33" | DRIVE = "2";
NET "USB_D<4>" LOC = "P101" | IOSTANDARD = "LVCMOS33" | DRIVE = "2";
NET "USB_D<5>" LOC = "P102" | IOSTANDARD = "LVCMOS33" | DRIVE = "2";
NET "USB_D<6>" LOC = "P104" | IOSTANDARD = "LVCMOS33" | DRIVE = "2";
NET "USB_D<7>" LOC = "P105" | IOSTANDARD = "LVCMOS33" | DRIVE = "2";

NET "USB_C<0>" LOC = "P85" | IOSTANDARD = "LVCMOS33" | DRIVE = "2";
NET "USB_C<1>" LOC = "P84" | IOSTANDARD = "LVCMOS33" | DRIVE = "2";
NET "USB_C<2>" LOC = "P83" | IOSTANDARD = "LVCMOS33" | DRIVE = "2";
NET "USB_C<3>" LOC = "P82" | IOSTANDARD = "LVCMOS33" | DRIVE = "2";
NET "USB_C<4>" LOC = "P81" | IOSTANDARD = "LVCMOS33" | DRIVE = "2";
NET "USB_C<5>" LOC = "P80" | IOSTANDARD = "LVCMOS33" | DRIVE = "2";
NET "USB_C<6>" LOC = "P79" | IOSTANDARD = "LVCMOS33" | DRIVE = "2";
NET "USB_C<7>" LOC = "P78" | IOSTANDARD = "LVCMOS33" | DRIVE = "2";

#NET "CLK_LVDS_P" LOC = "P93" | IOSTANDARD = "LVDS33";
#NET "CLK_LVDS_M" LOC = "P92" | IOSTANDARD = "LVDS33";
#NET "CLK_LVDS_EN" LOC = "P95" | IOSTANDARD = "LVDS33";

#NET "DAUGHTER_3" LOC = "P141" | IOSTANDARD = "LVCMOS33";
#NET "DAUGHTER_4" LOC = "P140" | IOSTANDARD = "LVCMOS33";
#NET "DAUGHTER_5" LOC = "P143" | IOSTANDARD = "LVCMOS33";
#NET "DAUGHTER_6" LOC = "P142" | IOSTANDARD = "LVCMOS33";
#NET "DAUGHTER_7" LOC = "P133" | IOSTANDARD = "LVCMOS33";
#NET "DAUGHTER_8" LOC = "P138" | IOSTANDARD = "LVCMOS33";
#NET "DAUGHTER_9" LOC = "P127" | IOSTANDARD = "LVCMOS33";
#NET "DAUGHTER_10" LOC = "P124" | IOSTANDARD = "LVCMOS33";

#NET "HEADER_15" LOC = "P48" | IOSTANDARD = "LVCMOS33";
#NET "HEADER_16" LOC = "P47" | IOSTANDARD = "LVCMOS33";
#NET "HEADER_17" LOC = "P51" | IOSTANDARD = "LVCMOS33";
#NET "HEADER_18" LOC = "P50" | IOSTANDARD = "LVCMOS33";
#NET "HEADER_19" LOC = "P56" | IOSTANDARD = "LVCMOS33";
#NET "HEADER_20" LOC = "P55" | IOSTANDARD = "LVCMOS33";
