
NET "ADC_RECLK_P" TNM_NET = "adc_reclk";
TIMESPEC TS_adc_reclk = PERIOD "adc_reclk" 250 MHz;

INST "adc_reclk_buf" LOC = BUFIO2_X0Y22;
INST adc_reclkfb LOC = BUFIO2FB_X0Y22;

# Let all the configs take up to 20ns.  The only paths we care about are
# on 50MHz clocks.
NET "spi/config<*>" TNM_NET = "config";
TIMESPEC TS_config = FROM "config" 20;

# Ditto, all the fast paths going into the spi data are non-critical.
NET "spi/shift_out*" TNM_NET = "spi_out";
TIMESPEC TS_spi_out = TO "spi_out" 20;

NET "cpu_ssirx" TNM = "cpu_ssi_out";
NET "cpu_ssifss" TNM = "cpu_ssi_in";
NET "cpu_ssitx" TNM = "cpu_ssi_in";

TIMESPEC TS_cpu_ssirx_ffs = FROM FFS TO "cpu_ssi_out" 6;
TIMESPEC TS_cpu_ssirx_pad = FROM "cpu_ssi_in" TO "cpu_ssi_out" 7;
